<div class='ranking-header'>
  <div class='ranking-header-logo'>
    <%= link_to root_path do %>
      <%= image_tag 'ara.png', class: 'ranking-header-logo__image' %>
    <% end %>
  </div>
  <div class='ranking-header-country'>
    <div class='ranking-header-country__content'>
      <%= image_tag "flags/#{current_country}.png", class: 'ranking-header-country__image' %>
      <div class='ranking-header-country__name'>
        <p><%= current_country %></p>
      </div>
    </div>
  </div>
  <div class='ranking-header-link'>
    <i class='fas fa-sort-down' id='fa-sort-down'></i>
    <ul class='ranking-header-link__list' id='ranking-header-link__list'>
      <li class='ranking-header-link__item'>
        <%= link_to Settings.rankings.ios_apps.top_free.title, rankings_path(country: current_country, product: 'ios-apps', type: 'top-free') %>
      </li>
      <li class='ranking-header-link__item'>
        <%= link_to Settings.rankings.ios_apps.top_paid.title, rankings_path(country: current_country, product: 'ios-apps', type: 'top-paid') %>
      </li>
      <li class='ranking-header-link__item'>
        <%= link_to Settings.rankings.itunes_music.top_songs.title, rankings_path(country: current_country, product: 'itunes-music', type: 'top-songs') %>
      </li>
      <li class='ranking-header-link__item'>
        <%= link_to Settings.rankings.apple_music.top_songs.title, rankings_path(country: current_country, product: 'apple-music', type: 'top-songs') %>
      </li>
      <li class='ranking-header-link__item'>
        <%= link_to Settings.rankings.audiobooks.top_audiobooks.title, rankings_path(country: current_country, product: 'audiobooks', type: 'top-audiobooks') %>
      </li>
      <li class='ranking-header-link__item'>
        <%= link_to Settings.rankings.books.top_free.title, rankings_path(country: current_country, product: 'books', type: 'top-free') %>
      </li>
      <li class='ranking-header-link__item'>
        <%= link_to Settings.rankings.books.top_paid.title, rankings_path(country: current_country, product: 'books', type: 'top-paid') %>
      </li>
      <li class='ranking-header-link__item'>
        <%= link_to Settings.rankings.movies.top_movies.title, rankings_path(country: current_country, product: 'movies', type: 'top-movies') %>
      </li>
      <li class='ranking-header-link__item'>
        <%= link_to Settings.rankings.itunes_u.top_itunes_u_courses.title, rankings_path(country: current_country, product: 'itunes-u', type: 'top-itunes-u-courses') %>
      </li>
    </ul>
  </div>
  <p class='ranking-header__title'>
    <%= Settings.rankings.public_send(current_product.underscore).public_send(current_type.underscore).title %>
    <%= link_to rankings_path(country: current_country, product: current_product, type: current_type, format: :csv), class: 'ranking-header-btn' do %>
      <i class="fas fa-file-download"></i>
      <span class='ranking-header-btn__text'>csv</span>
    <% end %>
  </p>
</div>
