<aside class='sidebar'>
  <div class='sidebar-logo'>
    <%= image_tag 'ara.png', class: 'sidebar-logo__image' %>
  </div>
  <div class='sidebar-list'>
    <% @countries.each do |country| %>
      <% if country.code == @current_country %>
        <p class='sidebar-list__outer-current'>
          <%= link_to root_path(country: country.code), class: 'sidebar-list__country-name' do %>
            <%= image_tag "flags/#{country.code}.png", class: 'sidebar-list__country-image' %>
            <span><%= country.name %></span>
          <% end %>
        </p>
      <% else %>
        <p class='sidebar-list__outer'>
          <%= link_to root_path(country: country.code), class: 'sidebar-list__country-name' do %>
            <%= image_tag "flags/#{country.code}.png", class: 'sidebar-list__country-image' %>
            <span><%= country.name %></span>
          <% end %>
        </p>
      <% end %>
    <% end %>
  </div>
</aside>

<section class='ranking'>
  <div class='ranking-header'>
    <div class='ranking-header-link'>
      <i class='fas fa-sort-down'></i>
      <ul class='ranking-header-link__list'>
        <li class='ranking-header-link__item'>Free App Ranking</li>
        <li class='ranking-header-link__item'>Paid App Ranking</li>
      </ul>
    </div>
    <p class='ranking-header__title'>
      Free App Ranking
      <%= link_to root_path(country: @current_country, format: :csv), class: 'ranking-header-btn' do %>
        <i class="fas fa-file-download"></i>
        <span class='ranking-header-btn__text'>csv</span>
      <% end %>
    </p>
  </div>
  <div class='ranking-content'>
    <% @apps.each.with_index(1) do |app, i| %>
      <div class='ranking-item'>
        <div class='ranking-item__rank'><%= i %></div>
        <%= link_to app['url'], target: '_blank' do %>
          <%= image_tag app['artworkUrl100'], class: 'ranking-item__image' %>
        <% end %>
        <p class='ranking-item__title'><%= app['name'] %></p>
        <p class='ranking-item__category'><%= app['genres'][0]['name'] %></p>
      </div>
    <% end %>
  </div>
</section>
