<header>
  <h1>LOGO</h1>
</header>

<aside class='country'>
  <div class='country-content'>
    <% @countries.each do |country| %>
      <%= link_to country.name, root_path(country: country.code) %>
    <% end %>
  </div>
</aside>

<section class='ranking'>
  <div class='ranking-content'>
    <% @apps.each.with_index(1) do |app, i| %>
      <div class='app'>
        <%= image_tag app[:cover_image] %>
        <div class='rank'><%= i %></div>
        <div class'info'>
          <h3><%= app[:title] %></h3>
          <h4><%= app[:category] %></h3>
        </div>
      </div>
    <% end %>
  </div>
</section>
