<aside class='sidebar'>
  <div class='sidebar-logo'>
    <%= image_tag 'ara.png', class: 'sidebar-logo__image' %>
  </div>
  <div class='sidebar-list'>
    <% @countries.each do |country| %>
      <p>
        <%= link_to country.name, root_path(country: country.code), class: 'sidebar-list__country-name' %>
      </p>
    <% end %>
  </div>
</aside>

<section class='ranking'>
  <div class='ranking-header'>
    <p class='ranking-header__title'>
      Free App Ranking
      <%= link_to root_path(country: @current_country, format: :csv), class: 'ranking-header-btn' do %>
        <span class='ranking-header-btn__text'>csv</span>
        <i class="fas fa-file-download"></i>
      <% end %>
    </p>
  </div>
  <div class='ranking-content'>
    <% @apps.each.with_index(1) do |app, i| %>
      <div class='ranking-item'>
        <div class='ranking-item__rank'><%= i %></div>
        <%= image_tag app['artworkUrl100'], class: 'ranking-item__image' %>
        <p class='ranking-item__title'><%= app['name'] %></p>
        <p class='ranking-item__category'><%= app['genres'][0]['name'] %></p>
      </div>
    <% end %>
  </div>
</section>
