<!DOCTYPE html>
<html>
  <head>
    <title>AppRankingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', debug: true,  media: 'all' %>
    <%= javascript_include_tag 'application', debug: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
