<!DOCTYPE html>
<html>
  <head>
    <title>App Ranking App</title>
    <%= analytics_init if Rails.env.production? %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    'rankings', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
